<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Welcome!</h1>
	<h3 th:inline="text">Welcome<b th:inline="text" id="name"> [[${#httpServletRequest.remoteUser}]] </b> </h3>
	<p>Click <a th:href="@{/chat}">here</a> to see a greeting.</p>
	
	<form th:action="@{/logout}" method="post">
    <button type="submit" value="Logout">logout</button>
</form>

</body>
</html>